<% if (items.length <= 0) { %>
<h1>No Products Found!</h1>
<% } else { %>
<div class="grid">
    <% items.forEach(function(item) { %>
    <article class="card product-item">
        <header class="card__header">
            <h1 class="product__title"><%= item.title %></h1>
        </header>
        <div class="card__image">
            <img
                src="<%= item.image %>"
                width="50"
                height="150"
                alt="<%= item.title %>"
            />
        </div>
        <div class="card__content">
            <h2 class="product__price">$ <%= item.price %></h2>
            <p class="product__description">Qt Ord: <%= item.quantity %></p>
        </div>
    </article>
    <% }); %>
</div>
<% } %>
